<!DOCTYPE html>
<html>
<head>
	<title>Passfire</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= favicon_link_tag 'passfire-logo.png' %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

	

</body>
</html>
