<!DOCTYPE html>
<html>
<head>
	<title>Passfire</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<script type="text/javascript" charset="utf-8"     src="edge/City1_edgePreload.js"></script>
	<%= favicon_link_tag 'favicon.png' %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

	

</body>
</html>
